
.header-container {
    background-color: rgba(255, 94, 0, 0);
    position: relative;
    display: flex;
    width: 375px;
    height: 75px;
    margin: 0 auto;
    
    @media only screen and (min-width: 1440px) {
        width: 1440px;
        height: 84px;
    }
}

.logo {
    background-color: rgba(255, 0, 234, 0);
    position: absolute;
    width: 84px;
    height: 27px;
    left: 17px;
    top: 24px;

    @media only screen and (min-width: 1440px) {
        left: 41px;
        top: 32px;
    }
}

.navbar {
    background-color: rgba(255, 81, 0, 0);
    display: none;

    @media only screen and (min-width: 1440px) {
        display: flex;
        position: absolute;
        width: 1213px;
        height: 42px;
        left: 187px;
        top: 21px;
    }

    &__links {
        background-color: rgba(255, 0, 234, 0);
    
        @media only screen and (min-width: 1440px) {
            display: flex;
            position: absolute;
            width: 378px;
            height: 16px;
            top: 13px;
        }
    
        &__features {
            background-color: rgba(255, 136, 0, 0);
            display: flex;
            width: 79px;
            height: 16px;

            &:hover {
                cursor: pointer;
            }
    
            &__text {
                height: 16px;
    
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #686868;
            }
    
            &__image {
                width: 10px;
                height: 6px;
                margin-top: 5px;
                margin-left: 8px;
                transition: transform .5s;
            }

            &__menu {
                //display: none;
                position: absolute;
                width: 153px;
                //height: 160px;

                height: 0;
                padding: 0;
                overflow: hidden;
                transition: all .5s ease;

                left: 113px;
                top: 70px;
                background: #FFFFFF;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
                border-radius: 10px;

                &__list {
                    background-color: rgba(100, 255, 121, 0);
                    width: 105px;
                    height: 112px;
                    margin: 24px;

                    &__item1 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 93px;
                        height: 16px;
                        margin: 0px 12px 0px 1px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__image {
                            width: 14px;
                            height: 16px;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 1px 0px 0px 15px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                    &__item2 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 93px;
                        height: 16px;
                        margin: 16px 12px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__image {
                            width: 16px;
                            height: 16px;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 1px 0px 0px 14px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                    &__item3 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 102.59px;
                        height: 16.08px;
                        margin: 15.92px 0px 0px 2.41px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__image {
                            width: 12px;
                            height: 16px;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 1px 0px 0px 15.59px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                    &__item4 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 89px;
                        height: 16px;
                        margin: 16px 16px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__image {
                            width: 16px;
                            height: 16px;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 1px 0px 0px 14px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                }
            }
        }
    
        &__company {
            background-color: rgba(255, 136, 0, 0);
            display: flex;
            margin-left: 40px;
            width: 81px;
            height: 16px;

            &:hover {
                cursor: pointer;
            }
    
            &__text {
                height: 16px;
    
                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #686868;
            }
    
            &__image {
                width: 10px;
                height: 6px;
                margin-top: 5px;
                margin-left: 7px;
                transition: transform .5s;
            }

            &__menu {
                //display: none;
                position: absolute;
                width: 116px;
                //height: 128px;

                height: 0;
                padding: 0;
                overflow: hidden;
                transition: all .5s ease;

                left: 306px;
                top: 70px;
                background: #FFFFFF;
                box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
                border-radius: 10px;

                &__list {
                    background-color: rgba(100, 255, 121, 0);
                    width: 68px;
                    height: 80px;
                    margin: 25px 25px 24px 25px;

                    &__item1 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 66px;
                        height: 15px;
                        margin: 0px 0px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 0px 0px 0px 0px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                    &__item2 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 66px;
                        height: 12px;
                        margin: 17px 0px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 0px 0px 0px 0px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                    &__item3 {
                        background-color: rgba(172, 255, 47, 0);
                        display: flex;
                        width: 66px;
                        height: 15px;
                        margin: 20px 0px 0px 0px;

                        &:hover {
                            cursor: pointer;
                        }

                        &__text {
                            background-color: rgba(181, 106, 255, 0);
                            height: 16px;
                            margin: 0px 0px 0px 0px;
                            
                            font-family: 'Epilogue';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 16px;
                            color: #686868;
                        }
                    }
                }
            }
        }
    
        &__careers {
            background-color: rgba(255, 136, 0, 0);
            margin-left: 40px;
            width: 56px;
            height: 16px;
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #686868;

            &:hover {
                cursor: pointer;
            }
        }
    
        &__about {
            background-color: rgba(255, 136, 0, 0);
            margin-left: 40px;
            width: 42px;
            height: 16px;
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #686868;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__enter {
        background-color: rgba(255, 0, 0, 0);
        display: flex;
        position: absolute;
        width: 182px;
        height: 42px;
        left: 1031px;

        &__login {
            height: 16px;
            margin-top: 13px;
            
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #686868;

            &:hover {
                cursor: pointer;
            }
        }

        &__register {
            margin-left: 40px;
            width: 104px;
            height: 42px;
            border: 1.5px solid #686868;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
            
            &__text {
                height: 16px;

                font-family: 'Epilogue';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #686868;
            }
        }
    }
}

.menu {
    background-color: rgba(255, 0, 234, 0);
    position: absolute;
    width: 32px;
    height: 18px;
    left: 327px;
    top: 25px;

    &:hover {
        cursor: pointer;
    }

    @media only screen and (min-width: 1440px) {
        display: none;
    }
}